<div id="nav">
	<div id="nav-mobile-list">
		<a href="/items">All items</a>
		<a href="/categories">All categories</a>
		<a href="/items/add">Add item</a>
		<a href="/categories/add">Add category</a>
	</div>
</div>
