*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
}

html {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	align-items: center;
	padding-left: 0px;
	padding-right: 0px;
}

body {
	width: 100%;
	max-width: 1600px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

a {
	text-decoration: none;
	color: inherit;
}

#logo-div {
	display: flex;
	align-items: center;
	font-size: 24px;
	height: 50px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid black;
	gap: 20px;
	padding-top: 10px;
}

#logo-div a {
	display: flex;
	align-items: center;
	gap: 5px;
}

#logo-img {
	height: 30px;
	width: 30px;
}

#nav {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	font-size: 18px;
	line-height: 25px;
	max-width: 100%;
	border-bottom: 1px black solid;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#nav-mobile-list {
	display: flex;
	justify-content: space-between;
}

#nav-mobile-list a:hover {
	color: red;
}

#home-main,
.item-list-main, #item-details {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
	text-align: center;
}



#home-main > * {
	margin-bottom: 50px;
}

.item-list-main {
	margin-bottom: 10px;
}

.num-span {
	color: red;
}

#home-fridge-pic img {
	max-width: 300px;
	max-height: 300px;
}

#home-fridge-pic {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

footer {
	bottom: 0px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	max-width: 1600px;
}

footer a {
	color: black;
	height: 25px;
	width: 25px;
}

footer a img {
	width: 25px;
	height: 25px;
}

footer a:hover {
	color: red;
}

.list-first-p {
	margin-bottom: 20px;
}

.empty-list-p {
	font-size: 20px;
	margin-bottom: 30px;
}

table {
	font-size: 15px;
	width: 100%;
	border-collapse: collapse;
}

.cat-table {
	table-layout: fixed;
}

.th-details {
	width: 50px;
}

table a {
	color: blue;
}

tr {
	height: 50px;
}

th {
	border: 1px solid black;
}

td:first-child {
	width: 50px;
	vertical-align: middle;
}

td:first-child a {
	display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

td img {
	height: 40px;
	width: 40px;
}

td:last-child {
	width: 50px;
}

td {
	border: 1px solid black;
	height: 100%;
}

th {
	background-color: #dddddd;
}

.item-img-large {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.details-first-p {
	margin-bottom: 50px;
}

#item-details-div {
	display: flex;
	justify-content: center;
}

#item-details-data {
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}

#item-details-data a {
	color: blue;
}

#item-details-container {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.edit-delete-div {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.edit-btn, .delete-btn, .edit-btn-cat, .delete-btn-cat, .submit-btn, .delete-btn-form {
	font-size: 12px;
	color: white;
	padding: 5px 12px 5px 12px;
	width: 80px;
	border-radius: 3px;
}

.edit-btn-cat, .delete-btn-cat, .submit-btn, .delete-btn-form {
	width: 100px;
	text-align: center;
	padding: 8px 15px 8px 15px;

}

.edit-btn, .edit-btn-cat, .submit-btn {
	background-color: green;
}

.delete-btn, .delete-btn-cat, .delete-btn-form {
	background-color: red;
}

.submit-btn, .delete-btn-form {
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 5px;
}

.error-ul {
	display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 30px;
    color: red;
}

form {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	width: 200px;
}

label {
	text-align: left;
	margin-bottom: 3px;
	margin-top: 3px;
}

.add-category-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input, select {
	border: 1px solid #ced4da;
	border-radius: 3px;
	padding-left: 2px;
	height: 25px;
	outline: none;
}

option:first {
    color: #999;
}

.delete-form-div {
	display: flex;
    justify-content: center;
}

button {
	cursor: pointer;
}
 
@media (max-width: 785px) {
	#home-main {
		font-size: 26px;
	}
}

@media (max-width: 685px) {
	#home-main {
		font-size: 22px;
	}

	#home-main > * {
		margin-bottom: 30px;
	}
}

@media (max-width: 586px) {
	#home-main {
		font-size: 18px;
	}
}

@media (max-width: 430px) {
	#nav-mobile-list {
		font-size: 15px;
	}

	.item-img-large {
		width: 150px;
		height: 150px;
	}

	#logo-div {
		padding-left: 5px;
		padding-right: 5px;
	}

	#nav {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 350px) {
	#nav-mobile-list {
		font-size: 12px;
	}
}

@media (max-width: 320px) {
	#logo-div {
		font-size: 20px;
	}
}

@media (max-width: 300px) {
	table {
		font-size: 10px;
	}

	#home-fridge-pic img {
		max-width: 280px;
		max-height: 300px;
	}

	#logo-div {
		padding-left: 5px;
		padding-right: 5px;
	}

	#nav {
		padding-left: 10px;
		padding-right: 10px;
	}

	.item-list-main, #item-details {
		padding-left: 0px;
		padding-right: 0px;
	}

	.item-img-large {
		width: 100px;
		height: 100px;
	}
}
